html, body, #root {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #e6f0ff, #f5f7fa);
}

/* App layout */
.app {
  display: flex;
  height: 100vh; /* 🔥 important */
}

/* Sidebar */
.sidebar {
  width: 80px;
  height: 100vh;
  transition: all 0.3s ease;
}

.main {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  margin-left: 80px; /* default sidebar width */
  transition: all 0.3s ease;
}

.sidebar.open ~ .main {
  margin-left: 230px; /* when sidebar open */
}